/*  -- Creation date: 2013.01.29
    -- Checked:      
    -- Author:   Carlos Barreto, carlos.barreto@agiotech.com
    -- Version 1.0.0

-- Reglas de Componente -- 
.component-name
.component-name--modifier-name
.component-name__sub-object
.component-name__sub-object--modifier-name
*/
/***************************************************************************************************************************/
/* -- BASE -- */
/* Sobre carga de #main*/
#main { display:block; height:100%; margin:auto; position:relative; width:90%;  }
/***************************************************************************************************************************/
/* -- POSICIONAMIENTO -- */
#main-ContIzquierda {
    display:block;
    float:left;
    /*height:100%;*/
    position:relative;
    width:60%;
}

#main-ContDerecha {
    display:block;
    float:right;
        /*height:100%;*/
    margin-top:20px;
    position:relative;
    width:35%;
}

/*Solo un contenedor para los formularios*/
#form {
    display:block;
    height:100%;
    width:100%;
}

/***************************************************************************************************************************/
/* -- MODULOS -- */
.form-SpArea--dg { display:block; font-size: 14px; height:100px; margin-bottom:10px; width: 100%; }

.ul-tab {
    display: inline-block;
    margin-top: 30px;
    width:100%;
}

.li-tab {
    background-color: #FFF;
    border-color:#808080;
    border-style:solid;
    border-width: 1px 1px 0 1px;
    float: left;
    height: 30px;
    line-height: 30px;
    list-style: none;
    margin-right:2px;
    position: relative;
    text-align: center;
    width: 150px;
}

    .li-tab a {
        color:#808080;
        display:block;
        height:100%;
        text-decoration:none;
        width:100%;
    }

        .li-tab a:hover {
            background-color: #808080;
            color: #FFF;
            text-decoration: none;
        }

#tab-content {
    background-color:transparent;
    border: 1px solid #808080;
    clear: both;
    height: auto;
    margin:auto;
    padding: 10px 10px 10px 10px;
    position:relative;
    top:-10px;
    width: 100%;  
}
/***************************************************************************************************************************/
/* -- ESTADO --*/


