/*  -- Creation date: 2013.01.29
    -- Checked:      
    -- Author:   Carlos Barreto, carlos.barreto@agiotech.com
    -- Version 1.0.0

-- Reglas de Componente -- 
.component-name
.component-name--modifier-name
.component-name__sub-object
.component-name__sub-object--modifier-name
*/
/***************************************************************************************************************************/
/* -- BASE -- */
/* Sobre carga de #main*/
#main { display:block; height:100%; margin:auto; position:relative; width:90%;  }

/***************************************************************************************************************************/
/* -- POSICIONAMIENTO -- */
#main-ContIzquierda {
    display:block;
    float:left;
    /*height:100%;*/
    position:relative;
    width:60%;
}

#main-ContDerecha {
    display:block;
    float:right;
        /*height:100%;*/
    margin-top:20px;
    position:relative;
    width:35%;
}
/***************************************************************************************************************************/
/* -- MODULOS -- */


/***************************************************************************************************************************/
/* -- ESTADO --*/