@charset "utf-8";
/* CSS Document 
 * Author:    Carlos Barreto
 * ScriptDate:  September 2012
*/

/* Tipografías */
@font-face {
  font-family: 'Calibri';
  font-weight: normal;
  src: url('../../Content/fonts/calibri.ttf');
}

@font-face{
    font-family:'HelveticaBlackCondensed';
    src:url('../../Content/fonts/helvetica.woff') format('woff');
}

@font-face{
  font-family:"BebasNeue";
  src:url("../../Content/fonts/BebasNeue-webfont.eot");
  src:url("../../Content/fonts/BebasNeue-webfont.eot?#iefix") format("embedded-opentype"),url("../../Content/fonts/BebasNeue-webfont.woff") format("woff"),url("../../Content/fonts/BebasNeue-webfont.ttf") format("truetype"),url("../../Content/fonts/BebasNeue-webfont.svg#BebasNeue") format("svg");
  font-weight:normal;font-style:normal
}

@import "headerTool.styl"
@import "layout.styl"
@import "responsive.styl"
@import "reporte.styl"