#Contenedor
  background-color: #FFF
  margin: auto
  overflow: auto
  position: relative
  width: 98%
  top: 55px

#ContMain
  display: block
  left: 0px
  position: absolute
  top: -10px
  width: 100%

#main
  margin: auto
  position: relative
  width: 90%

.TituloFormulario
  border-bottom: 2px dashed #808080
  color: #808080
  display: block
  font-family: Calibri, Arial
  font-size: 2em
  height: 25px
  padding-left: 5px
  padding-bottom: 3px
  width: 100%

.row
  display: inline-block
  height: 25px
  margin-bottom: 2px
  width: 100%

.form-row
  display:inline-block
  font-size: 1em
  height:18px
  margin-bottom:2px
  width: 100%
  
.SpArea
  display: inline-block
  height: 100px
  margin-bottom: 5px
  width: 100%
  border: 1px solid #FFF

[class*="Span"]
  display: inline-block
  float: left
  height: 30px
  margin-bottom: 5px
  margin-top: 2px
  text-align: left

.Span-a
  width: 75px
  margin-left: 5px
  vertical-align: central

.Span-b
  width: 120px
  margin-left: 5px
  vertical-align: central

.Span-c
  width: 200px
  margin-left: 5px
  vertical-align: central

.Span-d
  width: 300px
  margin-left: 5px
  vertical-align: central

.Span-e
  width: 350px
  margin-left: 5px
  vertical-align: central

.Span-f
  width: 50px
  margin-left: 5px
  vertical-align: central

.Span-g
  width: 100px
  margin-left: 5px
  vertical-align: central

.Span-h
  width: 175px
  margin-left: 5px
  vertical-align: central

.Span-i
  width: 150px
  margin-left: 5px
  vertical-align: central

.Span-j
  width: 500px
  margin-left: 5px
  vertical-align: central

.Span-k
  width: 600px
  margin-left: 5px
  vertical-align: central

.Span-l
  width: 250px
  margin-left: 5px
  vertical-align: central

.FRaight
  width: 120px
  display: inline-block
  float: right
  height: 30px

.pcenter
  display: block
  float: right
  font-size: 14px
  margin-right: 5px
  margin-top: 5px
  position: relative

INPUT[type=text], INPUT[type=password]
  border-bottom: 1px outset #FFFFFF
  border-left: 1px outset #CCCCCC
  border-right: 1px outset #FFFFFF
  border-top: 1px outset #CCCCCC
  color: #666
  font-size: 14px
  margin-left: 3px
  padding: 3px
  text-align: left
  width: 90%

.Button
  background-color: #A0A0A0
  color: #FFF
  display: block
  font-size: 14px
  float: right
  height: 95%


.formError
  position:absolute
  top:300px; left:300px
  padding-bottom:13px
  display:block
  z-index:5000

#debugMode
  background:#000
  position:fixed
  width:100%
  height:200px
  top:0
  left:0
  overflow:scroll
  opacity:0.8
  display:block
  padding:10px
  color:#fff
  font-size:14px
  z-index:100000

.ajaxSubmit
  padding:20px
  background:#55ea55
  border:1px solid #999
  display:none

.formError .formErrorContent
  width:100%
  background:#ee0101
  color:#fff
  width:150px
  font-family:tahoma
  font-size:11px
  border:2px solid #ddd
  box-shadow: 0px 0px 6px #000
  -moz-box-shadow: 0px 0px 6px #000
  -webkit-box-shadow: 0px 0px 6px #000
  padding:4px 10px 4px 10px
  border-radius: 6px
  -moz-border-radius: 6px
  

-webkit-border-radius: 6px;}

.greenPopup .formErrorContent {background:#33be40;}

.blackPopup .formErrorContent {background:#393939;color:#FFF;}

.formError .formErrorArrow{

position:absolute;

bottom:0;left:20px;

width:15px; height:15px;

z-index:5001;

}

.formError .formErrorArrowBottom{top:0;margin:-6px;}

.formError .formErrorArrow div{

border-left:2px solid #ddd;

border-right:2px solid #ddd;

box-shadow: 0px 2px 3px #444;

-moz-box-shadow: 0px 2px 3px #444;

-webkit-box-shadow: 0px 2px 3px #444;

font-size:0px; height:1px; background:#ee0101;margin:0 auto;line-height:0px; font-size:0px; display:block;

}

.formError .formErrorArrowBottom div{

box-shadow: none;

-moz-box-shadow: none;

-webkit-box-shadow: none;

}

.greenPopup .formErrorArrow div{background:#33be40;}

.blackPopup .formErrorArrow div{background:#393939;color:#FFF;}

.formError .formErrorArrow .line10{width:15px;border:none;}

.formError .formErrorArrow .line9{width:13px;border:none;}

.formError .formErrorArrow .line8{width:11px;}

.formError .formErrorArrow .line7{width:9px;}

.formError .formErrorArrow .line6{width:7px;}

.formError .formErrorArrow .line5{width:5px;}

.formError .formErrorArrow .line4{width:3px;}

.formError .formErrorArrow .line3{width:1px;

border-left:2px solid #ddd;

border-right:2px solid #ddd;

border-bottom:0px solid #ddd;}

.formError .formErrorArrow .line2{width:3px;border:none;background:#ddd;}

.formError .formErrorArrow .line1{width:1px;border:none;background:#ddd;}



TABLE
  border: 0
  border-collapse: collapse
  font-size: 11px
  margin: 0
  padding: 0
  width: 100%

TH
  background-color: #BABABA
  border: 1px solid #EAEAEA
  color: #BDBDBD
  font-size: 13px
  font-weight: bold
  text-align: center

TH A
  color: #333

TH A:hover
  color: #FFF
  text-decoration: none

TD
  border: 1px solid #EAEAEA
  padding-left: 2px

#ContenedorOrderIDForm
  font-family: BebasNeue, HelveticaBlackCondensed, sans-serif, Arial
  font-size: 26px
  font-weight: 400
  border: 1px solid #808080
  display: block
  height: 55px
  margin-left: 10%
  position: relative

#ContenedorOrderIDForm INPUT[type=text], INPUT[type=password]
  font-size: 36px

#ContenedorOrderIDForm .Button
  font-family: BebasNeue, HelveticaBlackCondensed, sans-serif, Arial
  font-size: 30px
  height: 45px

#ContenedorOrderIDForm LABEL
  font-size: 36px
  height: 45px

#ContFormulario
  display: block
  float: left
  position: relative
  width: 100%

#OrderInfo
  border: 1px solid #CCCCCC
  position: absolute
  right: -20px
  top: 20px
  width: 200px

.OrderInfo_Title
  color: #808080
  font-family: Verdana
  font-size: 13px
  margin-left: 5px
  margin-top: 2px

.OrderInfo_Closebt
  background-color: #CCC
  border: 1px solid #808080
  display: inline-block
  font-size: 8px
  height: 7px
  padding: 3px
  position: absolute
  right: 1px
  top: 1px
  width: 7px

.OrderInfo_bold
  color: #808080
  font-weight: bold
  margin-left: 8px
  margin-top: 3px

#TestShedule
  display: block
  margin: 10px
  padding: 5px
  position: relative

#NewTestShedule
  display: block
  padding: 5px
  position: relative

.TestShedule_Title
  color: #808080
  font-size: 14px
  font-weight: bold

.NewTestShedule_Title
  color: #808080
  font-size: 14px
  font-weight: bold

#StatusBar
  bottom: 0
  display: block
  float: right
  height: 20px
  position: fixed
  right: 0
  width: 500px
  z-index: 10000

.statusbar-design
  background-color: #9BA759
  color: #FFFFFF
  display: block
  font-family: Verdana, Arial
  font-size: 13px
  height: 100%
  text-align: center
  width: 100%

#OtroContenedor
  display: block
  float: left
  margin-top: 100px
  width: 100%

#ContenedorOrderIDForm
  height 180px
  
  TEXTAREA
    font-family: Arial
    font-size: 12px

.calidad-contenedor-form
  border: 1px solid #BBB;
  display: inline-block
  height: auto
  width: 60%

  .row, .row-textarea
    display: inline-block
    height: 35px
    margin: 0 10px 10px 0 

  .row-textarea
    height: 70px
    vertical-align: center

  INPUT[type=text], SELECT 
    font-family Arial
    font-size 2 em

  LABEL
    font-family: BebasNeue, HelveticaBlackCondensed, sans-serif, Arial
    font-size: 2.5 em
    height: 45px

.calidad-contenedor-datos
  border: 1px solid #BBB;
  display: inline-block
  float: right
  height: 100%
  padding: 5px
  width: 38%

#Formulario2
  display: inline-block
  float: right
  width: 35%

#Formulario3
  display: block
  float: left
  width: 60%

  .label 
    display: inline-block
    font-size: .9em
    font-weight: bold
    padding-left: 1em
    width: 20%

  .data
    display: inline-block
    font-size: .9em
    margin-left: 2%
    text-align: left
    width: 75%

#Formulario4
  border: 1px solid #999
  display: inline-block
  float: right
  margin-top:1em;
  padding:3px
  width: 35%

  .label 
    display: inline-block
    font-size: .9em
    font-weight: bold
    padding-left: 1em
    width: 30%

  .data
    display: inline-block
    font-size: .9em
    margin-left: 2%
    text-align: left
    width: 60%

.row-facturar
  display: inline-block
  height: 35px
  text-align: right
  width: 100%

  .label 
    display: inline-block
    font-size: 1.2em
    font-weight: bold
    width: 35%

  .data
    display: inline-block
    padding-left: 1.2em
    text-align: left
    width: 35%

.row-btOnly
  display: inline-block
  padding-right: 2.2em
  text-align: right
  width: 100%  

